@model PeliculasWeb.Models.Pelicula

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sinopsis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sinopsis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duracion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnioEstreno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnioEstreno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Director)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Director.Nombre)
        </dd>
        @if (!string.IsNullOrEmpty(Model.ImagenRuta)) //Mostrar la imagen actual
        {
            <div class="form-group">
                <label>Portada:</label><br />
                <img src="@Model.ImagenRuta" alt="Portada de @Model.Titulo" style="width:100px;height:auto;" />
            </div>
        }
    </dl>
</div>
<div class="mb-4">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary me-2">Editar</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger me-2">Eliminar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
